USERS_DATABASE_URL=postgresql://postgres:<users-db-password>@localhost:5437/db_users?schema=public
INVENTORY_DATABASE_URL=postgresql://postgres:<inventory-db-password>@localhost:5433/smartlogix_inventory?schema=public
