JWT_SECRET=
SHIPPING_DB_PASSWORD=
INVENTORY_DB_PASSWORD=
ORDER_DB_PASSWORD=
NOTIFICATION_DB_PASSWORD=
AUTH_DB_PASSWORD=
USERS_DB_PASSWORD=
RABBITMQ_USER=
RABBITMQ_PASS=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
