JWT_SECRET=<jwt-secret-local-seguro>
SHIPPING_DB_PASSWORD=<shipping-db-password>
INVENTORY_DB_PASSWORD=<inventory-db-password>
ORDER_DB_PASSWORD=<order-db-password>
NOTIFICATION_DB_PASSWORD=<notification-db-password>
AUTH_DB_PASSWORD=<auth-db-password>
USERS_DB_PASSWORD=<users-db-password>
RABBITMQ_USER=<rabbitmq-user>
RABBITMQ_PASS=<rabbitmq-password>
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=<smtp-user-opcional>
SMTP_PASS=<smtp-password-opcional>
MAIL_FROM=noreply@smartlogix.cl
